@media screen and (max-width: 899.98px) {
  /* ========================================================================== */
  /*                                    .HEAD                                   */
  /* ========================================================================== */
  .head {
    padding: 2rem;
  }

  //   .head-logo
  .head-logo {
    width: 120px;
    height: 40px;
  }

  /* ========================================================================== */
  /*                                    .SEC1                                   */
  /* ========================================================================== */

  .sec1 {
    background-image: url(../images/bg-curvy-mobile.svg);
    background-size: contain;
  }

  //   .sec1-title
  .sec1-title {
    width: 100%;
    max-width: 500px;
    padding: 0 2rem;

    h1 {
      font-size: 1.8rem;
    }
  }

  // .sec1-img
  .sec1-img {
    padding: 1rem;
  }

  /* ========================================================================== */
  /*                                    .SEC2                                   */
  /* ========================================================================== */

  .sec2-wapper {
    grid-template-columns: 1fr;
  }

  /* ========================================================================== */
  /*                                    .SEC3                                   */
  /* ========================================================================== */
  .sec3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  //   .sec3-info
  .sec3-info {
    width: 100%;

    h2 {
      font-size: 1.8rem;
    }

    span:hover {
      border-bottom: 2px solid #62e0d9;
      color: #62e0d9;
    }
  }

  /* ========================================================================== */
  /*                                    .SEC4                                   */
  /* ========================================================================== */
  .sec4 {
    padding-bottom: 24rem;
  }

  //   .sec4-wrapper
  .sec4-wrapper {
    max-width: 600px;
    grid-template-columns: 1fr;
    background-position: top 1rem left 1rem;
    background-size: 8%;
  }

  //   .sec4-email
  .sec4-email {
    bottom: -10%;
    padding: 3rem 2rem;
  }

  // .email-input
  .email-input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    input {
      width: 100%;
    }

    button {
      width: 100%;
    }

    .valid {
      padding-left: 0;
    }
  }

  /* ========================================================================== */
  /*                                    .FOOT                                   */
  /* ========================================================================== */
  //   .foot-wrapper
  .foot-wrapper {
    flex-direction: column;
    gap: 5rem;
  }

  //   2.about
  .foot-about {
    flex-direction: column;
  }

  //   3.foot-icon
  .foot-icon {
    width: 100%;
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 424.98px) {
  /* ---------------------------------- .head --------------------------------- */
  .head {
    padding: 1.5rem 1rem;
    gap: 0.5rem;
  }

  .head-menu {
    gap: 0.5rem;

    a {
      font-size: 1rem;
    }
  }

  .head-logo {
    width: 80px;
    height: 25px;
  }
  /* ---------------------------------- .sec1 --------------------------------- */
  //   .sec1-title
  .sec1-title {
    width: 100%;
    max-width: 500px;
    padding: 0 2rem;

    h1 {
      font-size: 1.4rem;
    }
  }

  /* ---------------------------------- .sec2 --------------------------------- */
  .sec2 {
    padding: 1.5rem;
  }
  /* ---------------------------------- .sec3 --------------------------------- */
  .sec3 {
    padding: 2rem;
  }

  .sec3-info {
    width: 100%;

    h2 {
      font-size: 1.5rem;
    }
  }

  /* ---------------------------------- .sec4 --------------------------------- */
  .sec4 {
    padding: 1rem;
    padding-bottom: 26rem;
    padding-top: 4rem;
  }

  .sec4-wrapper {
    padding: 2rem 1rem;
  }

  .sec4-email {
    padding: 3rem 1.5rem;
    padding-bottom: 5rem;
  }

  .email-title {
    h2 {
      font-size: 1.5rem;
    }
  }

  .email-input {
    .valid {
      text-align: center;
    }

    input {
      font-size: 0.8rem;
    }

    button {
      min-width: unset;
    }
  }
}

@media screen and (max-width: 319.98px) {
  .head {
    padding: 2rem 0.5rem;

    .head-logo {
      width: 70px;
      height: 20px;
    }

    .head-menu {
      a {
        font-size: 0.9rem;
      }
    }
  }

  .sec4 {
    padding: 1rem;
    padding-bottom: 29rem;
    padding-top: 4rem;
  }

  .sec4-wrapper {
    padding: 2rem 1rem;
  }
  .wraper-block {
    padding: 2rem 1rem;
  }

  .foot {
    padding: 2rem;
    padding-top: 13rem;
  }
}
